.bg-light, .form-control {
    background-color: black !important;
}
.form-control:focus {
    background-color: #333 !important;
}
body, .bg-light, a, .form-control {
    color: #808080 !important;
}
a:hover, .form-control:focus {
    color: white !important;
}
.bg-light, .form-control, .form-control:focus {
    border-color: #808080 !important;
}
.darkmode-show {
    display: inherit !important;
}
.darkmode-none {
    display: none !important;
}


